<% include ../partials/header %>
<div class="container">
    <h1 style="font-weight: bold;margin-bottom: 30px;">관리자설정</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">
        <a href="/" style="color: #78d843;">데이터 통계</a>
        <li class="breadcrumb-item active">사용자 웹 설정</li>
      </li>
    </ol>
  <div class="card mb-4"">
    <div class="card-body">
      <div class="table-responsive">
        <form action="/admin" method="get">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                   
                    <th >Title</th>
                      <th>Author</th>
                      <th>Detail</th>
                  </tr>
              </thead>
              <tbody>
              
               <% forms.forEach( function(board){%>
               
                <tr>
                  
                    <td><a href="/admin/detail/<%= board.id%> "><%= board.title%></a></td>
                    <td><%= board.author%></td>
                    <td><%= board.detail%></td>
                </tr>
                <%});%>
              </tbody>
              
         </table>
         <nav class="col-8">
          <%
            var offset = 2;
            var previousBtnEnabled = currentPage>1;
            var nextBtnEnabled = currentPage<maxPage;
          %>
          <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
            <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
              <a class="page-link" href="/admin/form<%= getPostQueryString(false, {page:currentPage-1}) %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>&laquo;</a>
            </li>
            <% for(i=1;i<=maxPage;i++){ %>
              <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/admin/form<%= getPostQueryString(false, {page:i}) %>"> <%= i %> </a></li>
              <% } else if(i==2 || i==maxPage-1){ %>
                <li><a class="page-link">...</a></li>
              <% } %>
            <% } %>
            <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
              <a class="page-link" href="/admin/form<%= getPostQueryString(false, {page:currentPage+1}) %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>&raquo;</a>
            </li>
          </ul>
        </nav>
        <div class="form-row">

          <div class="form-group col-3">
            <label>Show</label>
            <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
              <option value="5" <%= limit==5?'selected':'' %>>5 posts</option>
              <option value="10" <%= limit==10?'selected':'' %>>10 posts</option>
              <option value="20" <%= limit==20?'selected':'' %>>20 posts</option>
            </select>
          </div>

        </div>
         <a href="/admin/write" class="btn btn-default" style="background: #000; color:white">작성하기</a>
        </form>

      </div>
    </div>
  </div>
<% include ../partials/scripts %>

