<div class="container-fluid px-4">
    <h4 class="mt-4">admin</h4>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between">
                            <span class="font-weight-bold">data</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <table class="table">
                                    <thead class="thead-dark">
                                      <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">이메일</th>
                                        <th scope="col">총 투입량 <button class="btn"><i class="fas fa-sort"></i></button></th>
                                        <th scope="col">캔 <button class="btn"><i class="fas fa-sort"></i></button></th>
                                        <th scope="col">플라스틱 <button class="btn"><i class="fas fa-sort"></i></button></th>
                                        <th scope="col">유리 <button class="btn"><i class="fas fa-sort"></i></button></th>
                                        <th scope="col">super</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% trashData.forEach( function(item, index){ %>
                                            <a href="#">
                                                <tr>
                                                    <th scope="row"><%= index + 1 %></th>
                                                    <td><%= item.email %></td>
                                                    <td><%= item.total %></td>
                                                    <td><%= item.can %></td>
                                                    <td><%= item.plastic %></td>
                                                    <td><%= item.glass %></td>
                                                    <td><%= item.super %></td>
                                                </tr>
                                            </a>
                                        <% }) %>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>