<% if (name) { %>
    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <span class="font-weight-bold">쓰레기 배출량</span>
                    <a href="./data" class=""><i class="fas fa-arrow-right"></i></a>
                </div>
                <div class="card-body">
                    <div class="row overflow-hidden">
                        <div class="col-md-6 graph">
                            <canvas id="todayChart"></canvas>
                        </div>
                        <div class="col-md-6 graph">
                            <canvas id="monthChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between">
                    <span class="font-weight-bold">데이터 조회</span>
                </div>
                <div class="card-body">
                    <div class="row overflow-hidden">
                        <div class="col-xl-3 col-md-6">
                            <iframe class="thingspeak"
                                    src="https://thingspeak.com/channels/1396062/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&sum=daily&type=line"></iframe>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <iframe class="thingspeak"
                                    src="https://thingspeak.com/channels/1396062/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&sum=daily&type=line"></iframe>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <iframe class="thingspeak"
                                    src="https://thingspeak.com/channels/1396062/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&sum=daily&type=line"></iframe>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <iframe class="thingspeak"
                                    src="https://thingspeak.com/channels/1396062/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&sum=daily&type=line"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>

<div class="row">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                <span class="font-weight-bold">날씨 정보</span>
                <a href="./category/data" class=""><i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <% weather.forEach( function(weather){ %>
                        <div class="col-xl-3 col-md-6">
                            <div class="text-center">
                                <h2 class="font-weight-bold">
                                    <%= weather.temp %>
                                </h2>
                                <span class="text-dark"><%= weather.summary %></span>
                            </div>
                            <br>
                            <div class="text-center row  justify-content-center">
                                <div class="weather-box">
                                    미세먼지
                                    <br>
                                    <span class="text-success font-weight-bold"><%= weather.fine_dust %></span>
                                </div>
                                <div class="weather-box">
                                    초 미세먼지
                                    <br>
                                    <span class="text-success font-weight-bold"><%= weather.ultra_fine_dust %></span>
                                </div>
                                <div class="weather-box">
                                    자외선
                                    <br>
                                    <span class="text-warning font-weight-bold"><%= weather.uv_rays %></span>
                                </div>
                                <div class="weather-box">
                                    일출
                                    <br>
                                    <span class="text-danger font-weight-bold"><%= weather.sun_raise %></span>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                <span class="font-weight-bold">환경 뉴스</span>
                <a href="./category/data" class=""><i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="card-body">
                <div class="row">
                    <% article.forEach( function(item){ %>
                        <% var url = "http://www.hkbs.co.kr" + item.url %>
                        <% var title = item.title %>
                        <% var img = item.image_url %>
                        <div class="col-xl-3 col-md-6">

                            <a href=<%= url %>>
                                <img class="news-img" src=<%= img %>>
                                <span class="small text-dark"><%= title %></span>
                            </a>
                            <br>
                            <br>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<!-- todayChart -->
<script>
    var ctx = document.getElementById("todayChart").getContext('2d');
    var todayChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["총합계", "캔", "유리", "플라스틱"],
            datasets: [{
                label: '오늘의 쓰레기 배출량',
                data: [<%= todayTrash[3] %>, <%= todayTrash[0] %>, <%= todayTrash[1] %>, <%= todayTrash[2] %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>

<!-- monthChart -->
<script>
    var ctx = document.getElementById("monthChart").getContext('2d');
    var monthChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["총합계", "캔", "유리", "플라스틱"],
            datasets: [{
                label: '이달의 쓰레기 배출량',
                data: [20, 7, 3, 10],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>