extends layout

block content
  .card.text-center
    .card-header
      h1= title
    .card-body
      h1 WELCOME! #{name}
      if name 
        if is_admin
          input.btn(type='button', onclick=" location.href='/admin'", value='ADMIN')
        div
          input.btn(type='button', onclick=" location.href='/profile'", value='PROFILE')
          input.btn(type='button', onclick=" location.href='/logout'", value='LOGOUT')
      else
        div
          input.btn(type='button', onclick=" location.href='/login'", value='LOGIN')
        div
          input.btn(type='button', onclick=" location.href='/signup'", value='SIGNUP')
      div 
        if name
        table
          tr
            th 캔
            td #{todayTrash[0]}
          tr
            th 유리
            td #{todayTrash[1]}
          tr
            th 플라스틱
            td #{todayTrash[2]}
          tr
            th 총
            td #{todayTrash[3]}
      
      each item in article
        <br>
        - var url = "http://www.hkbs.co.kr" + item.url
        - var title = item.title
        - var img = item.image_url 
        a(href=url)
          img(src=img)
          h3 #{title}
      
    .card-footer