<div class="container-fluid px-4">
    <div class="card mt-4"></div>
    <div class="card-header d-flex justify-content-between">    </div>
    <h2 class="font-weight-bold bg-light pt-3 pb-3 pl-3 rounded shadow-sm">월별 배출량</h2>
    <h6 class="mb-2 mt-4 ml-2 text-secondary font-weight-bold"><%= name %>님의 월별 쓰레기 배출량입니다.</h6>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <table class="table rounded">
                    <thead class="text-center">
                    <tr>
                        <th scope="col">Day</th>
                        <th>can</th>
                        <th>plastic</th>
                        <th>glass</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% monthlyTrash.forEach( function(item){ %>
                        <tr class="btn-light monthlyRow">
                            <th scope="row"><%= item._id.year %>-<%= item._id.month %></th>
                            <td><%= item.can %></td>
                            <td><%= item.plastic %></td>
                            <td><%= item.glass %></td>
                            <td><%= item.can + item.plastic + item.glass %></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>