<%- include ../partials/header %>

  <div class="container">
    <h1 style="font-weight: bold;margin-bottom: 30px;">환경정보</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">
        <a href="/" style="color: #78d843;">DASHBOARD</a>
        <li class="breadcrumb-item active">환경정보</li>
      </li>
    </ol>
    <div class="card mb-4"">
        <div class="card-body">
            <div class="table-responsive">
            <!----------------------------------------------------->
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <!-- <thead>
                  <tr> 
                      <th>Date</th>
                      <th>Title</th>
                  </tr>
              </thead> -->
              
              <% article.forEach( function(item){%>
                  <% var url="http://www.hkbs.co.kr" + item.url %>
                  <% var title = item.title %>
                  <% var img = item.image_url %>
              <tbody>
                  <tr>
                      <td>
                          <a class="ca" href=<%= url %>>
                          <img class="cimg" src=<%= img %> width="90%"></a>
                      </td>
                      <td class="ctd"><a class="ca" href=<%= url %>><%= title %></a></td>
                  </tr>
                  
          <% }) %>
              </tbody>
          </table>
          
  
            <!-- <% article.forEach( function(item){%>
            <br>
              <% var url="http://www.hkbs.co.kr" + item.url %>
              <% var title = item.title %>
              <% var img = item.image_url %>
                  <a class="ca" href=<%= url %>>
                  <img class="cimg" src=<%= img %> width="30%"></a>
                  <h3><%= title %></h3>
            <% }) %> -->
  
            </div>
    </div>
  </div>
  </div>

  
<% include ../partials/scripts %>

